/** CUSTOM CSS **/
.button {
	@extend button;
}

/***
 HEADERS ***/
.hero-header {
    height: 400px;
    padding-top: 180px;
}
.hero-header.about {
	background-color: #f10;
	background: no-repeat center/cover url('/img/alex-sofa-2-cropped.jpg');
}

.hero-header h2, h3 {
	color: #fff;
	display: inline-block;
	background-color: #333;
	padding:  0.3em 1em;
	text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
}


/* Text and font styles
*/
.main-content h1, .main-content h2, .main-content h3, .main-content h4 {
	font-weight:700;
	padding-top: 2em;
}



/* Containers and margins
*/
body.index .main-content {

}
.main-content *:first-child {
	margin-top:0;
	padding-top:0;
}

/* TABLES
*/
.main-content table td {
	padding:3px;
	border:1px solid #aaa;
	text-align: center;
}

/* Navigation
*/



@media only screen and (min-width : 768px) {

	/* Mobile menu icon */
	#menu-icon {
		display: none;
	}

}

@media only screen and (max-width: 767px) {

	#menu-icon {
		color:#1e405d;
		position: absolute;
		top:2rem;
		right:2rem;
		cursor: pointer;
	}

	.main-nav {
		max-height: 0;
	}

	.main-nav.expand {
		max-height: 20em;
		display: block;
		transition: 1s;
	}

	.main-nav.expand .navigation {
		width: 100%;
		background-color: #f4f4f4;
		padding: 1em;
	}
	.main-nav.expand li {
		float:none;
		display: block;
	}

}
