/** CUSTOM CSS **/
.button {
	@extend button;
}

/***
 HEADERS ***/
.hero-header {
    height: 400px;
    padding-top: 180px;
}
.hero-header.about {
	background-color: #f10;
	background: no-repeat center/cover url('/img/alex-sofa-2-cropped.jpg');
}

h2 strong, .hero-header h2, .hero-header h3 {
	color: #fff;
	display: inline-block;
	background-color: #333;
	padding:  0.3em 1em;
	text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
}



/* Text and font styles
*/
.normal, .content .normal {
	font-size: 1em;
	font-weight: normal;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4 {
	font-weight:700;
	padding-top: 2em;
}





/* Containers and margins
*/
body .main-content {
   margin-top: -1em;
}
nav.breadcrumbs {
	margin-bottom: 0;
}



/* TABLES
*/
.main-content table td {
	padding:3px;
	border:1px solid #aaa;
	text-align: center;
}

/* Navigation
*/



@media only screen and (min-width : 768px) {

	/* Mobile menu icon */
	#menu-icon {
		display: none;
	}

}

@media only screen and (max-width: 767px) {

	#menu-icon {
		color:#1e405d;
		position: absolute;
		top:2rem;
		right:2rem;
		cursor: pointer;
	}

	.main-nav {
		max-height: 0;
	}

	.main-nav.expand {
		max-height: 20em;
		display: block;
		transition: 1s;
	}

	.main-nav.expand .navigation {
		width: 100%;
		background-color: #f4f4f4;
		padding: 1em;
	}
	.main-nav.expand li {
		float:none;
		display: block;
	}

}

/* Contact Page
*/
.contact-content {
	padding-top: 1em;
}
.contact-content label {
	font-weight: bold;
}

/* CV PAGE
*/
.cv h3 {
	margin-right: 100%;
}

.exp-title {
	font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  background-color:
}
.exp-title::after {
	content: ": ";
}

/* Contact **/
fieldset {
	border: 0;
	padding: 0;
}

.contact label, .contact input, .contact textarea {
	float: left;
  clear: left;
}

input[type="text"], input[type="email"], input[type="search"],
input[type="submit"], button, textarea {
  padding: 1em 1.5em;
  border: 1px solid #e5e5e5;
  margin-bottom: 1em;
}

textarea { width: 100%;  resize: none; }
