{% assign pageid = page.name | split: '.' %}

{% comment %}
	Full image and no header text
{% endcomment %}


{% comment %}
	TODO: TIDY UP THE CSS
{% endcomment %}

{% if page.name == "index.md" %}
<header class="content hero" style="width: 1140px;height: 628px;margin: auto;position: relative">
	<div style="display: block; top: 0; height: 600px; width: 1140px;background-image:url('/img/brighton-mass-trespass-1.webp');background-size: cover; background-repeat: no-repeat; background-position: center;">
	<span class="caption" style="position: absolute;bottom:-0.3em; right:0px;"><em>Photo from <a href="https://landscapesoffreedom.wordpress.com/">Landscapes of Freedom</a> on the mass trespass at Pangdean Bottom</em></span>
</div>
</header>
<br/>

{% else %}
	{% if pageid[0] != "about" %}
		{% comment %} Header hero {% endcomment %}
		<header class="plain-header">
	{% else %}
		{% comment %} Header plain {% endcomment %}
		<header class="hero-header {{ pageid[0] }}">
	{% endif %}
			<div class="content">
				<h1>{{ page.title }}</h1>
				{% if page.sub_heading and page.sub_heading != "" %}
				<h2>{{ page.sub_heading }}</h2>
				{% endif %}
			</div>
	</header>
{% endif %}

