$primary-color: #BCD979;
$secondary-color: #9DAD6F;
$third-color: #C3DFE0;
$fourth-color: #7D6D61;
$fifth-color: #993333;

// fonts
$menu-size: 24px;

//positioning
$logo-width: 143px;
$mobile-logo-left:24px;
$nav-left-margin: 2em;
$content-spacing-ipad: 0 2em;


// screen sizes
$desktop-size: 980px;
$tablet-size: 760px;
$mobile-size: 480px;
$max-content-width: 740px; // tablet size - 20

/**
 * text
 */
h1, h2, h3, h4 {
  font-weight: 600;
}
.caption {
  font-style: italic;
  margin-bottom:1em;
  display: block;
}

/**
 * page headers
 */
.site-header {
  padding: 1em $nav-left-margin;
  background-color: $secondary-color;
}

.plain-header, .hero-header {
    background: #ddd;
    h1 {
      color: #333;
    }
}


@media only screen and (min-width: 768px) {
  .logo a {
    position:absolute;
    float:none;
    display:inline-block;
    width:143px;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    a {
      float:none;
      display:inline-block;
    }
  }
}

/**
 * All content spacing
 */

.breadcrumbs {
  padding-top:1em;
}

@media only screen and (min-width: 768px) and (max-width: 980px) {
  .main-content, .contact-content {
    padding: $content-spacing-ipad;
  }

  .breadcrumbs {
    padding: $content-spacing-ipad;
    padding-top: 1em;
  }
}

@media only screen and (max-width: 767px) {
  .breadcrumbs {
    padding-top: 1em;
    padding: 0;
  }
}

/**
 * All content text
 */
.main-content {

  h1, h2, h3, h4 {
    color: $fifth-color;
    a {
      color: inherit;
    }

  }
}

/**
 * nav
 */

.main-nav {
 display:inline-block;

 li a {
  color:#fff;
 }
}

@media only screen and (min-width : 768px) {
  .main-nav li {
    padding: 0 0.2em;
  }

  .nav-container {
    width: $max-content-width;
    padding: 0 1em;
  }

  /* Mobile menu icon */
  #menu-icon {
    display: none;
  }

}

//
// mobile nav
//
@media only screen and (min-width: 768px) {
  .main-nav {
    display:inline-block;
    margin-left:143px;
    padding-left:$nav-left-margin;
  }
}
@media only screen and (max-width: 767px) {

  .nav-container {
    margin:0;
  }

  .main-nav {
    width: 100%;
    position: absolute;
    top: 88px;
    z-index: 5;
    margin:0;
    overflow: hidden;
   display: block;
  }

  .logo-span {
    display: block;
    padding-left:$mobile-logo-left; // same as the margin in the bullet menu dropdown
  }



  .main-nav .navigation {
    min-height: 3em;
    height: auto;
    max-height: auto;
    margin-top:0;
    margin-left: -$nav-left-margin;
    padding: 1em 1em 1em $mobile-logo-left;
    background-color: $fourth-color;
    font-size: 0.7em;
  }
  .main-nav li {
    margin-left:0.8em;
    a {
      color:rgb(221, 221, 221);
    }
  }


  /**
    // deleted
    #menu-icon {
      font-size: $menu-size;
      color:#000;
      font-weight: bold;
      position: absolute;
      top:2rem;
      right:2rem;
      cursor: pointer;
    }
  **/
}



/**
 * footer
 */

.site-footer {
  padding-top:4em;
  background-color:$secondary-color;
}

/*** PAGES ***/

/**
 * home page
 */
@media only screen and (min-width: 768px) {

  // desktop
  .landing-hero {
    max-width: $max-content-width;
    // min-height: 750px;
    margin: auto;
    position: relative;
    margin-top: 2em;
  }
  .landing {
    max-width: $max-content-width;
    margin: auto;
    padding: 0 1em 0 1em;
  }
}
#hero-image {
  display: block;
  top: 0;
  max-height: 600px;
  max-width: $max-content-width;
  margin:auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: fill;
}
@media only screen and (min-width: 767px) and (max-width: 980px) {
  .landing, .landing-hero {
    padding: $content-spacing-ipad;
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #hero-image {
    width:auto !important;
    height:auto !important;
    max-width: 100%;
  }
}

.landing .landing-headline {
  margin-top:0;
}

/* Contact **/
fieldset {
  border: 0;
  padding: 0;
}

.contact label, .contact input, .contact textarea {
  float: left;
  clear: left;
  font-weight: bold;
}

input[type="text"], input[type="email"], input[type="search"],
input[type="submit"], button, textarea {
  padding: 1em 1.5em;
  border: 1px solid #e5e5e5;
  margin-bottom: 1em;
}

textarea { width: 100%;  resize: none; }

@media only screen and (max-width: 980px) {
  textarea { width: 80%;  resize: none; }
}
